<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/authors/{% if author.pic %}{{author.pic}}{% endif %}" alt="{{author.name}}" class="author-img">
  <div class="author-desc">
    <h2>{{author.name}}</h2>
    <p>{{author.bio}}</p>
    <i>"{{author.quote}}"</i>
    <p> </p>
    <ul>
      {% if author.email %}
        <li class="email"><a href="mailto:{{author.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if author.facebook %}
        <li class="facebook"><a href="https://www.facebook.com/{{author.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <!-- <li class="facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
      {% endif %}

      {% if author.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{author.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <!-- <li class="twitter"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
      {% endif %}

      {% if author.github %}
      <li class="github"><a href="https://www.github.com/{{author.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="https://www.github.com" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if author.linkedin %}
        <li class="linkedin"><a href="https://www.linkedin.com/in/{{author.linkedin}}" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
      {% else %}
        <!-- <li class="linkedin"><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
      {% endif %}

      {% if author.website %}
      <li class="webauthor"><a href="{{author.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="webauthor"><a href="{{site.baseurl}}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}

      <!-- {% if author.phone %}
        <li class="phone"><a href="tel:{{author.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="123-456-7890"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %} -->
    </ul>
  </div>
</section>
